:root {
	--color-empty: #ebedf0;
	--color-low: #9be9a8;
	--color-med: #40c463;
	--color-high: #30a14e;
	--color-max: #216e39;
}


body {
	background-color: #3f3f3f;
}

h1 {
	color:#0000FF;
}
h2 {
	color:#FFFFFF;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	font-size: 12px;
	color: #888;
}

.days-wrapper{
	display: flex;
	align-items: flex-start;
	gap: 5px;
	margin-top:10px;
}

.days-label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 105px;
}

.graph-grid {
	display: grid;
	grid-template-rows: repeat(7,12px); /*Grids to repeat 7 days a week*/
	grid-auto-flow: column; /*New items create new columns*/
	grid-auto-columns: 12px;
	gap: 3px;
}

.sq {
width: 12px;
height: 12px;
border-radius: 2px;
background-color: var(--color-empty);
}

/*Coloring based on intensity*/
.level-1 { background-color: var(--color-low); }
.level-2 { background-color: var(--color-med); }
.level-3 { background-color: var(--color-high); }
.level-4 { background-color: var(--color-max); }

.disabled {
  opacity: 0.6;
  pointer-events: none;
}