:root {
	--color-empty: #ebedf0;
	--color-low: #9be9a8;
	--color-med: #40c463;
	--color-high: #30a14e;
	--color-max: #216e39;
}


body {
	background-color: #161b22;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	margin: 0;
}

h1 {
	color: #e6edf3;
	margin: 0;
}

h2 {
	color: #8b949e;
	margin: 0;
	font-weight: normal;
}

p {
	color: #8b949e;
}

.glass-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 40px;
	background: rgba(30, 30, 40, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	font-size: 12px;
	color: #888;
}

.days-wrapper{
	display: flex;
	align-items: flex-start;
	gap: 5px;
	margin-top:10px;
}

.days-label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 105px;
}

.graph-grid {
	display: grid;
	grid-template-rows: repeat(7,12px); /*Grids to repeat 7 days a week*/
	grid-auto-flow: column; /*New items create new columns*/
	grid-auto-columns: 12px;
	gap: 3px;
}

.sq {
width: 12px;
height: 12px;
border-radius: 2px;
background-color: var(--color-empty);
}

/*Coloring based on intensity*/
.level-1 { background-color: var(--color-low); }
.level-2 { background-color: var(--color-med); }
.level-3 { background-color: var(--color-high); }
.level-4 { background-color: var(--color-max); }

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

#github-login {
  background-color: #2ea44f;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

#github-login:hover {
  background-color: #2c974b;
}

/* --- Settings Menu Styles --- */
.settings-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.settings-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #8b949e;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #161b22;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  flex-direction: column;
  gap: 10px;
}